---

- name: check vboxguest_version
  fail:
    msg: "could not get vboxguest_version - please specify this variable"
  when: vboxguest_version is not defined or vboxguest_version == false

- name: VBoxGuest 6.1.30
  set_fact:
    vboxguest_iso: /root/VBoxGuestAdditions_6_1_30.iso
    vboxguest_url: http://ubuntu-media.home.org/virtualbox/VBoxGuestAdditions_6_1_30.iso
  when: vboxguest_version == "6.1.30"

- name: VBoxGuest 6.0.10
  set_fact:
    vboxguest_iso: /root/VBoxGuestAdditions_6_0_10.iso
    vboxguest_url: http://ubuntu-media.home.org/virtualbox/VBoxGuestAdditions_6_0_10.iso
  when: vboxguest_version == "6.0.10"

- name: check vboxguest_url and vboxguest_iso
  fail:
    msg: "could not get vboxguest_url or vboxguest_iso - please specify this variable"
  when: vboxguest_url is not defined or vboxguest_iso is not defined or vboxguest_url == "" or vboxguest_iso == ""

# - debug: msg="vboxguest_url"var="{{ vboxguest_url }}"
# - debug: msg="vboxguest_iso"var="{{ vboxguest_iso }}"

- name: check vboxguest version is installed
  shell: modinfo vboxguest 2>/dev/null|awk '/^version/{print $2}'
  register: vbox_guest_version
  ignore_errors: yes




# Может быть:
#
# vbox_guest_version установлен + vboxguest_version == vbox_guest_version.stdout  , выходим
#
# vbox_guest_version установлен + vboxguest_version != vbox_guest_version.stdout + флаг vboxguest_remove: false , выходим
#
# vbox_guest_version установлен + vboxguest_version != vbox_guest_version.stdout + флаг vboxguest_remove: true  , тогда:
#     - проверим наличие iso образа, скачаем если нужно
#     - примонтируем образ
#     - удалим vboxguest с примонтированного образа
#     - поставим пакеты ( разные для rh и debian )
#     - постави vboxguest с примонтированного образа
#
# vbox_guest_version не установлен , тогда:
#     - проверим наличие iso образа, скачаем если нужно
#     - примонтируем образ
#     - удалим vboxguest с примонтированного образа
#     - поставим пакеты ( разные для redhat и debian )
#     - постави vboxguest с примонтированного образа



# vbox установлен, версии не совпадают, но удалять нельзя, end_host
- meta: end_host
  when:
    - vbox_guest_version.stdout is defined
    - vbox_guest_version.stdout != ""
    - vbox_guest_version.stdout != vboxguest_version
    - vboxguest_remove == false

# vbox установлен, версии совпадают, end_host
- meta: end_host
  when:
    - vbox_guest_version.stdout is defined
    - vbox_guest_version.stdout != ""
    - vbox_guest_version.stdout == vboxguest_version


# end_play (добавлен в Ansible 2.2) - приводит к завершению воспроизведения без сбоя влияет на все хосты
# end_host (добавлен в Ansible 2.8) - приводит к завершению воспроизведения для текущего хоста

#- debug: var=vbox_guest_version.stdout
#- debug: var=vboxguest_version

#- name: exityttttttttttttttttttt
#  fail:
#    msg: exitrrrrrrrrrrrrrrrrrrrrrrrrrrrrr
#  when:
#    - vbox_guest_version.stdout is defined
#    - vbox_guest_version.stdout == vboxguest_version
#- name: exit
#  fail:
#    msg: exit
#  when: 1 == 1



# Ппроверим наличие образа на локальной машине
- name: check iso "{{ vboxguest_iso }}"
  stat:
    path: "{{ vboxguest_iso }}"
  register: file_path
  ignore_errors: yes

- name: download iso "{{ vboxguest_url }}"
  get_url:
    url: "{{ vboxguest_url }}"
    dest: "{{ vboxguest_iso }}"
  when: file_path.stat.exists is not defined or file_path.stat.exists == false

- name: re-check iso "{{ vboxguest_iso }}"
  stat:
    path: "{{ vboxguest_iso }}"
  register: file_path
  ignore_errors: yes

- name: if not exists iso "{{ vboxguest_iso }}", wen fail
  fail: msg="could not find iso file on the host"
  when: file_path.stat.exists is not defined or file_path.stat.exists == false

- name: use correct iso
  set_fact:
    iso_path: "{{ file_path.stat.path }}"

- name: Check if VBoxGuest additions ISO is mounted
  shell: mount -l 2>/dev/null|awk '/VBOXADDITIONS/{print $3}'
  args:
    warn: False
  register: mount_path       # возможное значение /media/cdrom
  changed_when: mount_path is defined and not mount_path.stdout

- name: Mount VBoxGuestAdditions
  mount:
    name: /media/cdrom
    src: "{{ iso_path }}"
    fstype: iso9660
    opts: noauto
    state: mounted
  register: mounted_ISO
  when: mount_path is defined and not mount_path.stdout

- name: Check if VBoxGuest additions ISO is mounted
  shell: mount -l 2>/dev/null|awk 'tolower($0) ~ /vbox.*additions/{print $3}'
  args:
    warn: False
  register: mount_path

- name: Install kernel headers
  apt:
    name: linux-headers-{{ ansible_kernel }}
    update_cache: yes
    cache_valid_time: 86400
    install-recommends: no
    state: present
  when: ansible_os_family == "Debian"

- name: Install latest kernel and headers
  yum:
    name: [ "kernel", "kernel-headers-{{ ansible_kernel }}", "kernel-devel", "elfutils-libelf-devel", ]
    state: latest # needed latest for dmks to find matching header
    update_cache: yes
  when: ansible_os_family == "RedHat"

- name: Install packages
  package:
    name: ["bzip2", "dkms", "gcc", "make"]
    state: present


- name: uninstall VBoxGuestAdditions
  shell: echo "yes" | /media/cdrom/VBoxLinuxAdditions.run uninstall
  args:
    warn: False
  when: vbox_guest_version is defined and vbox_guest_version.stdout != ""
  ignore_errors: yes

- name: check vboxguest version is installed
  shell: modinfo vboxguest 2>/dev/null|awk '/^version/{print $2}'
  register: vbox_guest_version
  ignore_errors: yes

- name: install VBoxGuestAdditions
  shell: /media/cdrom/VBoxLinuxAdditions.run --nox11
  args:
    warn: False
  ignore_errors: yes
  when: ( vbox_guest_version.stdout is not defined ) or ( vbox_guest_version is defined and vbox_guest_version.stdout == "" )

- name: Unmount ISO
  mount:
    name: "{{ mount_path.stdout }}"
    src: "{{ iso_path }}"
    fstype: iso9660
    state: unmounted
  when: mounted_ISO is changed

